[mysqld]
port=3306
user=mysql
default-storage-engine=InnoDB
socket=/data/mysql3306/mysql.sock
pid-file=/data/mysql3306/mysqld.pid
validate_password_policy=0
validate_password_length=6
datadir=/data/mysql3306

symbolic-links=0
log-error=/data/mysql3306/mysqld.log



[client]
port=3306
socket=/data/mysql3306/mysql.sock
